.icon-div-container {
  text-align: center;
}
.icon-div-container h1 {
  margin: 0.5em 0;
}

input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 2px dashed rgba(109, 162, 236, 0.9);
}

.rendered-img-container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-self: center;
}
.rendered-img-div {
  padding: 1em;
  display: grid;
  place-items: center;
}
.rendered-img-div img {
  width: 30px;
}
.download_button {
  background-color: rgba(109, 162, 236, 0.9);
  border: none;
}
.no-margin {
  margin: 0;
}
.crop-img {
  width: 400px;
  margin-right: 10em;
}
.image-crop-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-crop {
  margin-top: 2em;
}
.crop-img-btn {
  width: 30px;
  display: block;
  margin: 0 auto;
}

.crop-ranges-div {
  margin: 1em 0;
}
.download-button {
  width: 190px;
}
.no-padding {
  padding: 0;
}
