.logo {
  max-height: 100px;
  max-width: 150px;
}

.navbar {
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px 0px rgb(205, 205, 205);
}
.navbar-list {
  width: calc(100% - 150px);
}
.navbar-list ul {
  display: flex;
  justify-content: space-evenly;
}
.navbar-list li {
  list-style: none;
}

.navbar-list a {
  text-decoration: none;
  color: black;
}

.navbar-list button,
.calc-button {
  border: none;
  background-color: rgba(109, 162, 236, 0.9);
  padding: 0.5em 1em;
  font-size: 1em;
  position: relative;
  cursor: pointer;
}
.navbar-list button::after,
.calc-button::after {
  position: absolute;
  border: 4px solid rgba(109, 162, 236, 0.549);
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: top 0.2s ease-in-out, right 0.2s ease-in-out,
    bottom 0.2s ease-in-out, left 0.2s ease-in-out;
}

.navbar-list button:hover::after,
.calc-button:hover::after {
  top: -0.5em;
  right: -0.5em;
  bottom: -0.5em;
  left: -0.5em;
}
.calc-button {
  margin-left: 1em;
}
