.logo {
  max-height: 100px;
  max-width: 150px;
}

.navbar {
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px 0px rgb(205, 205, 205);
}
.navbar-list {
  width: calc(100% - 150px);
}
.navbar-list ul {
  display: flex;
  justify-content: space-evenly;
}
.navbar-list li {
  list-style: none;
}

.navbar-list a {
  text-decoration: none;
  color: black;
}

.navbar-list button {
  border: none;
  background-color: rgba(109, 162, 236, 0.549);
  padding: 0.5em 1em;
  font-size: 1em;
  transition: ease-in-out background-color 0.3s;
  position: relative;
}
.navbar-list button::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  background-color: rgba(20, 177, 255, 0.85);
  transform: scaleX(0);
  z-index: -1;
  transition: ease-in-out transform 0.2s;
  font-weight: 800;
  transform-origin: left;
}

.navbar-list button:hover::after {
  transform: scaleX(1);
}
