.measurement-predicates-container {
  text-align: center;
}
.measurement-predicates-form {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(5, 25px);
  justify-content: center;
}
.number-label {
  grid-column: 1;
}
.number-input {
  grid-column: 2;
}
.attributeX {
  grid-column: 3;
  grid-row: 2;
}
.attributeY {
  grid-column: 3;
  grid-row: 3;
}
.aattributeZ {
  grid-column: 3;
  grid-row: 4;
}

.input-attributeX {
  grid-column: 4;
  grid-row: 2;
}
.input-attributeY {
  grid-column: 4;
  grid-row: 3;
}
.input-attributeZ {
  grid-column: 4;
  grid-row: 4;
}
